<script type="text/javascript">
$(document).ready(function() {

  var pusher = new Pusher("<%= Pusher.key %>", {encryption: true});

  var channel = pusher.subscribe("build_status_channel");

  channel.bind('client-build-update', function(data) {
    console.log(data);
    debugger;
    var build = $('div#build-' + data.id);
    if (build.length) {
      if (data.status_text) {
        build.find('.status').text(data.status_text);
        build.attr('css', 'row ' + data.status_text.toLowerCase());
        if (data.status === 2) {
          toastr["success"]('Build #' + data.id + ' Complete! <a href="' + data.url + '">Check it out</a>');
        }
      }
      if (data.last_sha) {
        build.find('.sha').text(data.last_sha);
      }
    }

  });

});
</script>