@import 'font-awesome-sprockets';
@import 'bootstrap-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import 'select2';
@import 'dashboard';
@import 'toastr';

.editor {
  position: relative;
  height: 150px;
  width: 450px;
}
