@import 'font-awesome-sprockets';
@import 'bootstrap-sprockets';
@import "bootswatch/flatly/variables";
@import 'font-awesome';
@import 'bootstrap';
@import "bootswatch/flatly/bootswatch";
@import 'select2';
@import 'dashboard';
@import 'toastr';
@import 'home';

.editor {
  position: relative;
  height: 150px;
  width: 450px;
}
